{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "node": "current" } }
    ]
  ],
  "retainLines": true,
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
