:root
  --font-family "Rubik", "system-ui", sans-serif
  --text-size 14px
  --text-height 28px
  --font-weight 400
  --title-color #000
  --border-color #dfe4ea
  --border-radius 3px
  --border-width 1px
  --primary-color #B3315F
  --primary-alt-color lighten(#0069ff, 90%)
  --dangerous-color red
  --dangerous-alt-color lighten(red, 30%)
  --bg-alt-color #fff
  --bg-color #f3f7fa
  --controller-font-weight 400
  --input-bg-color #fff
  --accent-border linear-gradient(to right, #FFAA85, #B3315F)
  --wrapper-width 1100px
  --header-bg linear-gradient(120deg, #F59F7A, #B3315F)
  --box-shadow 0 1px 12px -1px #dfe4ea
  --text-color #3c4b62
  --muted-color lighten(#3c4b62, 20%)
