.el-checkbox__inner
  border var(--border-width) solid var(--border-color)

.el-checkbox__inner
  width 16px
  height 16px

.el-input__inner,
.el-textarea__inner
  background-color var(--input-bg-color)
  border-radius var(--border-radius)
  font-weight var(--controller-font-weight)
  border none
  border var(--border-width) solid var(--border-color)
  border-color transparent
  box-shadow var(--box-shadow)
  &:hover, &:active
    border-color var(--border-color)
  &[type="number"]
    padding-right 0

.el-form-item
  margin-bottom 18px

.el-input__inner,
.el-form-item__content
  line-height 42px
.el-input__inner
  height 42px

.el-form-item__error
  left 15px
  padding-top 3px
  font-weight var(--controller-font-weight)

.el-input__suffix
  right 10px

.info-grid
  display flex
  flex-wrap wrap
  padding 0 12px
.info-grid_item
  min-width 33.3333%
  padding 10px 15px
  display flex
.info-grid_item_key
  min-width 90px
.info-grid_item_value
  margin-left 10px

.el-date-editor .el-range-input,
.el-input__inner,
.el-textarea__inner
  &::placeholder
    font-weight var(--controller-font-weight)
    color #a7afbd

.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor.el-input,
.el-date-editor.el-input__inner,
.el-select
  width 100%
.el-range-editor .el-range-input
  width 50%
  background-color transparent
.el-range-separator
  white-space nowrap

.fieldset
  display flex
  padding-top 20px
  padding-bottom 10px
  border-bottom var(--border-width) solid var(--border-color)
  &:first-child
    padding-top 0
  &:last-child
    border-bottom 0
    padding-bottom 0
.fieldset_details
  flex 1
  padding-right 20px
.fieldset_fields
  flex 2

.el-checkbox__inner::after
  height 8px
  left 5px
