.screen
  display flex
  flex-direction column
  margin-left auto
  margin-right auto
  // max-width var(--wrapper-width)

.el-header
  display flex
  justify-content space-between
  flex-direction column
  align-items flex-start
  padding 20px 20px 75px
  color #fff
  font-weight 300
  position relative
  background-image linear-gradient(120deg, #f59f7a, #b3315f)
  margin-bottom -20px
  &:before,
  &:after
    content ""
    position absolute
    width 100%
    left 0
    right 0
  // &:before
  //   top 0px
  //   height 82%
  //   background-image url("../../../static/img/header-shine.svg")
  //   background-position bottom
  //   background-size cover
  //   z-index 0
  &:after
    bottom 0px
    height 60px
    clip-path ellipse(57% 75% at 50% 100%)
    z-index 0
    background-color #f3f7fa
  & + .el-main
    margin-top 0
  .h1, .h2, .h3, .h4, .h5, .h6, .small
    color inherit
    font-weight inherit

.page-titles
  text-transform capitalize
  .h1
    line-height 30px
    white-space nowrap
  .small
    margin-top -2px
    margin-bottom 2px
    margin-left 1px
  span:not(:first-child)
    margin-left -4px
  .page-controls
    display flex

.page-meta
  display flex
  justify-content space-between
  align-items flex-start
  width 100%
  letter-spacing 0.5px

.page-info
  display flex
  margin-left 1rem
  overflow-x hidden
  .page-info_item
    margin-left 2rem
    overflow-x hidden
  .small, .h5
    white-space nowrap
    text-overflow ellipsis
    overflow-x hidden
  .small
    opacity 0.85
    font-size 13px
  .h5
    font-size 15px
    font-weight 400
    margin-bottom -5px

.page-subtitles_part:not(:last-child):after
  content "•"
  margin-right .25rem

.el-main
  position relative
  padding 20px
  display flex
  flex-direction column
  padding 0
  height 0

.content
  flex 1
  margin-bottom 20px
  padding 20px

.el-footer
  padding 15px 0
  margin-left 20px
  margin-right 20px
  border-top var(--border-width) solid var(--border-color)
  justify-content flex-end
  display flex
  align-items center

.el-loading-mask
  background-color rgba(245, 247, 249, 0.85)

.v-modal
  background-color rgba(223, 228, 234, 0.85)
  opacity 1

.card
  padding 10px
  display flex
  align-items center
  justify-content space-between
  background-color var(--input-bg-color)
  border-radius var(--border-radius)
  font-weight var(--controller-font-weight)
  box-shadow var(--box-shadow)
  // border var(--border-width) solid var(--border-color)
  &.card-clickable:hover
    color var(--primary-color)
    cursor pointer
  &.is-active
    // background-color var(--bg-color)
    &, .h6
      color var(--primary-color)

.el-dialog
  box-shadow none
  border-radius 3px
  background-color var(--bg-color)
  &:not(.is-fullscreen)
    margin-top 5vh !important
  &.is-fullscreen
    display flex
    flex-direction column
    .el-dialog__body
      display flex
      flex-grow 1
      padding 0
      overflow-y auto
    &, .el-dialog__header:before
      border-radius 0

.dialog_sidebar
  box-shadow 0 0px 12px 2px rgba(223, 228, 234, .6)
  background-color #F6F9FB
  min-width 300px
  width 30%
  overflow-y auto

.el-dialog__title
  line-height 1.5
.el-dialog__headerbtn
  font-size 27px
  top 50%
  transform translateY(-50%)
  line-height 24px
  margin-top 1px
.el-dialog__header,
.el-dialog__footer
  background-color var(--bg-alt-color)
  box-shadow var(--box-shadow)
.el-dialog__header,
.dialog_content,
.el-dialog__footer
  padding 15px 20px
.el-dialog__header
  border-top-left-radius inherit
  border-top-right-radius inherit
  padding-bottom 10px
  position relative
  &:before
    content ""
    width 100%
    height 4px
    background-image var(--accent-border)
    position absolute
    top 0
    left 0
    right 0
    border-top-left-radius 3px
    border-top-right-radius 3px
.el-dialog__body
  padding 0
  word-break normal
.dialog_content
  padding-top 10px
  padding-bottom 10px
.el-dialog__footer
  display flex
  justify-content flex-end
  border-bottom-left-radius inherit
  border-bottom-right-radius inherit
  padding-top 10px
  padding-bottom 10px
  min-height 59px

.el-notification
  border-radius var(--border-radius)
  border none

.el-alert
  line-height 1.2
  padding 20px
  .el-alert__closebtn
    font-size 20px
  .el-alert__content
    padding 0 15px
  .el-alert__description,
  .el-alert__title
    font inherit
  .el-alert__title
    font-size 13px
    font-weight 600
  .el-alert__description
    margin-top 5px
    font-size 12px
