.el-menu, .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus, .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover
  background-color inherit

.el-menu
  border-right none

.page-controls
  .el-button
    padding 0 10px
    margin 0
    color #fff
    i
      font-size 21px

.el-dropdown
  font-size 21px
.dropdown-menu-delete
  color var(--dangerous-color)

.el-submenu
  .el-menu-item
    padding-left 40px !important
    padding-right 0
    line-height 30px
    height 30px
    min-width auto
    &:last-of-type
      margin-bottom 10px

.el-menu-item, .el-submenu__title, i.menu-icon
  color #000

i.menu-icon
  font-size 23px
  margin-right 10px

.el-menu-item,
.el-submenu__title
  transition none
  font inherit
  font-weight var(--controller-font-weight)
  line-height 56px
  &.is-active
    border-left 3px solid var(--primary-color)
    &, i.menu-icon
      color var(--primary-color)
  &:hover
    &:not(.is-active)
      &, i.menu-icon
        color var(--muted-color)

.el-menu-item:focus,
.el-menu-item:hover,
.el-submenu__title:hover
  background-color transparent

.el-tabs
  .content
    margin-top 0
    margin-bottom 0
    overflow-y auto
  .page-actions
    margin-left 0
.el-tabs__header
  margin-bottom 10px
  margin-top 10px
  margin-left 25px
  margin-right 25px
  margin-bottom 0
.el-tabs__nav-wrap::after
  background-color var(--border-color)
.el-tabs__active-bar
  background-color var(--primary-color)
.el-tabs__content
  position static

.el-tabs,
.el-tabs__content,
.el-tab-pane
  display flex
  flex 1
  flex-direction column
