@media print
  .app_aside,
  .search-form,
  .el-header:before,
  .el-header:after,
  .el-pagination,
  .el-footer,
  .breadcrumb-bar,
  .page-controls,
  .el-table-column--selection,
  .el-dropdown,
  .dialog_sidebar,
  .el-dialog__header,
  .el-dialog__footer,
  .no-print
    display none !important
  #app
    padding-left 0 !important
  .el-header
    background-image none !important
    color #000 !important
    padding 0 0 20px 0 !important
  .small
    opacity 1 !important
    font-weight 400 !important
  .content
    padding 0 !important
  .el-tabs__header
    margin 0 0 20px 0 !important

  .el-table .cell
    white-space nowrap !important
    word-break normal !important

  .el-table tbody
    border-bottom 1px solid #000
    border-left 1px solid #000
  .el-table td
    padding 0 !important
    background none !important
    border-top 1px solid #000
    border-right 1px solid #000
  .el-table tr,
  .el-table th
    box-shadow none !important
    flex 1
    border-radius 0 !important

  .el-table td,
  .el-table th
    flex 1

  .el-table__body,
  .el-table__footer,
  .el-table__header,
  .el-table tbody,
  .el-table thead
    flex-direction column
    flex 1

  .el-table__body,
  .el-table__footer,
  .el-table__header,
  .el-table__body-wrapper,
  .el-table__footer-wrapper,
  .el-table__header-wrapper,
  .el-table tr
    display flex

  .el-dialog.is-fullscreen
    height auto !important
  .el-dialog.is-fullscreen,
  .el-dialog.is-fullscreen .el-dialog__body,
  .el-popup-parent--hidden,
  .el-dialog__wrapper
  body
    overflow visible !important
  .el-dialog__wrapper
    position absolute !important
