.table-controls
  display flex
  align-items center
  margin-bottom 10px
.el-table
  .table-actions
    position relative
    top 7px
    &, div
      padding 0
      line-height 1
    .el-button
      padding-top 12.5px
      padding-bottom 12.5px
      box-shadow none
      border var(--border-width) solid var(--border-color)

.table-actions.disabled
  pointer-events none
  cursor no-drop
  opacity 0.5

.el-table
  background-color transparent
  &, thead
    font inherit
    color inherit
  &.small td
    padding-top 8px
    padding-bottom 8px
  .h6, .small
    color inherit
.table-clickable
  .el-table__row
    cursor pointer
.el-pagination
  margin-top 20px
.el-pagination button:disabled
  background-color transparent
.el-pager li
  background none
  &.active
    color var(--primary-color)

.el-table--border::after,
.el-table--group::after,
.el-table::before
  border-color var(--border-color)
  height var(--border-width)
  border none
  height 0

.el-table td,
.el-table th.is-leaf
  border-bottom none

.el-table th.is-leaf
  padding 0
  font-weight 500

.el-table th > .cell
  line-height 34px

.el-table tr,
.el-table th
  background-color transparent

.el-table tr
  box-shadow var(--box-shadow)

.el-table td
  border-bottom-width var(--border-width)
  background-color var(--bg-alt-color)
  padding 14px 0
  &:first-child
    border-top-left-radius var(--border-radius)
    border-bottom-left-radius var(--border-radius)
    // padding-left 15px
  &:last-child
    border-bottom-right-radius var(--border-radius)
    border-top-right-radius var(--border-radius)
    // padding-right 15px

.el-table__body
  border-spacing 0 10px

.el-table .cell
  line-height 18px

.el-table--enable-row-hover .el-table__body tr:hover > td
  background-color #e1e7ec
  color #000
.el-table.no-hover .el-table__body tr:hover > td
  background-color var(--bg-alt-color)
  cursor initial

.el-table thead,
.el-form .el-form-item__label
  color var(--muted-color)
  font-weight var(--controller-font-weight)
  padding-bottom 0

.el-table__empty-block,
.data-placeholder
  line-height 60px
  color #909399
  text-align center
  .el-button
    padding 0
